.update-btn,
.details-btn {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-btn {
  background-color: #4caf50;
  color: white;
}

.details-btn {
  background-color: #008cba;
  color: white;
}
